In [2]:
import pandas as pd 

example_df = pd.read_csv("uk-500.csv", delimiter=",")
example_df.head(2)

,first_name,last_name,company_name,address,city,county,postal,phone1,phone2,email,web
0,Aleshia,Tomkiewicz,Alan D Rosenburg Cpa Pc,14 Taylor St,St. Stephens Ward,Kent,CT2 7PP,01835-703597,01944-369967,atomkiewicz@hotmail.com,http://www.alandrosenburgcpapc.co.uk
1,Evan,Zigomalas,Cap Gemini America,5 Binney St,Abbey Ward,Buckinghamshire,HP11 2AX,01937-864715,01714-737668,evan.zigomalas@gmail.com,http://www.capgeminiamerica.co.uk

In [ ]:
#!pip install sdv

In [3]:
from sdv.tabular import CTGAN 

model = CTGAN()
model.fit(example_df)

:

: